.vjs-theme-fantasy {
  --vjs-theme-fantasy--primary: #000;
  --vjs-theme-fantasy--secondary: #fff;
}

.vjs-theme-fantasy .vjs-big-play-button {
  width: 10px;
  height: 10px;
  background: none;
  line-height: 70px;
  font-size: 80px;
  border: none;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  color: var(--vjs-theme-fantasy--primary);
}

.vjs-theme-fantasy:hover .vjs-big-play-button,
.vjs-theme-fantasy.vjs-big-play-button:focus {
  background-color: transparent;
  color: #fff;
}

.vjs-theme-fantasy .vjs-control-bar {
  height: 10px;
}

.vjs-theme-fantasy .vjs-button > .vjs-icon-placeholder::before {
  line-height: 10px;
}

.vjs-theme-fantasy .vjs-time-control {
  line-height: 10px;
}

/* Play Button */
.vjs-theme-fantasy .vjs-play-control {
  font-size: 5px;
  position: relative;
}

.vjs-theme-fantasy .vjs-volume-panel {
  order: 4;
}

.vjs-theme-fantasy .vjs-volume-bar {
  margin-top: 5px;
}

.vjs-theme-city .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal {
  height: 100%;
}

.vjs-theme-fantasy .vjs-progress-control .vjs-progress-holder {
  font-size: 5px;
  background-color: #000;
}

.vjs-theme-fantasy .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 5px;
}

.vjs-theme-fantasy .vjs-mouse-display {
  opacity: 0;
}

.vjs-theme-fantasy .vjs-mouse-display:hover {
  opacity: 0;
}

.vjs-theme-fantasy .vjs-time-tooltip {
  opacity: 0;
}

.vjs-theme-fantasy .vjs-time-tooltip:hover {
  opacity: 0;
}
.vjs-theme-fantasy .vjs-colume-level {
  font-size: 5px;
}

.vjs-theme-fantasy .video-js .vjs-play-progress::before, .video-js .vjs-volume-level::before, .vjs-icon-circle::before, .vjs-seek-to-live-control .vjs-icon-placeholder::before {
  content: '';
}

.vjs-theme-fantasy .vjs-button > .vjs-icon-placeholder::before {
  font-size: 8px;
}

.vjs-theme-fantasy .video-js .vjs-load-progress {
  background-color: #000;
}


.vjs-theme-fantasy .vjs-play-control .vjs-icon-placeholder::before {
  height: 1.3em;
  width: 1.3em;
  top: 2px;
  left: 9px;
  line-height: 1.1;
}


.vjs-theme-fantasy .vjs-play-progress {
  background-color: white;
}

.vjs-theme-fantasy .vjs-play-progress::before {
  height: 0.8em;
  width: 0.8em;
  content: '';
  top: -0.25em;
}

.vjs-theme-fantasy .vjs-progress-control {
  font-size: 14px;
}

.vjs-theme-fantasy .vjs-fullscreen-control {
  order: 6;
}

.vjs-theme-fantasy .vjs-remaining-time {
  display: none;
}

.vjs-theme-fantasy  .vjs-control-bar {
  background-color: black;
}
.video-js .vjs-load-progress {
  background: #000
}